@import '../scripts/vendor/sass-bootstrap/bootstrap-2.3.2.css';
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}
.todo-list {
  list-style: none;
  li { margin: 18px 20px 18px 0; }
}

.is-done {
  color: #bbb;
  text-decoration: line-through;
}

.todo-item {
  border-bottom: 1px solid #bbb;
  padding: 10px 0;
  position: relative;
  &:last-child { border: none; }
}

#new-todo {
  margin: 1em 0 2em 0;
}
